.deletebutton {
  background-image: url('../img/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 50%;
  background-color: white;
  height: 30px;
}

input,
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 0;
  min-width: 1px;
  max-width: 100%;
}

.link-clear {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: 2px solid rgb(219, 219, 219);
}
